@charset "UTF-8";
@font-face {
    font-family: 'waltograph';
    src: url('fonts/waltograph42.otf' ) format('opentype'), url('fonts/waltograph42.ttf') format('truetype');
    font-weight: normal;
    font-style: 200;
}

body{
    background-image: url('disney-bg.jpg');
    margin: auto;
    padding: 10px;
    width: 70%;
}

h1 {
    font-family: 'waltograph', Times, serif;
    font-size: 5em;
    font-weight: normal;
}